/* clock text color */
/* #clock-button { color: #f00 } */

/* tasklist (window buttons) label text color */
/* .tasklist>*>box { color: #00f } */
#datetime-24 button {
    color: #cecece;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
    background-color: rgba(70, 70, 70, 1);
    padding: 2px 10px;
    margin-left: 1px;
    border-radius: 20%;
}
/* #datetime-24 menu* { */
/*     color: #f00; */
/*     font-weight: bolder; */
/*     text-shadow: 0px 1px rgba(0, 0, 0, 1); */
/*     background-color: rgba(128, 128, 255, 0.55); */
/*     padding: 2px 2px; */
/*     border-radius: 35%; */
/* } */

/* #weather-7* { */
#weather-7 button {
    color: #ffffff;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
    background-color: rgba(70, 70, 70, 1);
    padding: 2px 10px;
    border-radius: 10%;
}

/************
 * Tooltips *
 ************/
tooltip {
  padding: 4px;
  /* not working */
  border-radius: 5px;
  box-shadow: 1px 1px black;
  text-shadow: none;
}

tooltip.background {
  background-color: rgba(58, 58, 58, 1);
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

tooltip decoration {
  background-color: transparent;
}

tooltip * {
  padding: 4px;
  background-color: transparent;
  color: #ffffff;
}

.xfce4-panel.panel .tasklist button {
  color: #cecece;
  text-shadow: none;
  background-color: #393939;
  background-image: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  box-shadow: none;
  transition: none;
  margin-right: 1px;
}

.xfce4-panel.button:hover, .xfce4-panel.panel .tasklist button:hover {
  color: #cecece;
  background-color: #555555;
  border-color: #000000;
  text-shadow: none;
  box-shadow: none;
  /* border: none; */
  background-image: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  transition: none;
}

.xfce4-panel.panel .tasklist button:active, .xfce4-panel.panel .tasklist button:focus, .xfce4-panel.panel .tasklist button:checked {
  color: #ffffff;
  background-color: #555555;
  border-color: #000000;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  transition: none;
}

.xfsm-logout-dialog {
  color: #cecece;
  text-shadow: none;
  background-color: #393939;
  background-image: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  box-shadow: none;
  transition: none;
  margin-right: 1px;
  border-width: 0px;
  box-shadow: none;  
}

.xfsm-logout-dialog button {
    color: #cecece;
    background-color: #393939;
    
}

.xfsm-logout-dialog button:hover, .xfsm-logout-dialog button:focus {
    background-color: #555555;
    
}
